<div id="form-section" class="form-section container-fluid">
    <div class="wrap row align-items-center justify-content-sm-center">
        <h1>
            Contact Us Today! We’re ready to help!
        </h1>
        <div class="col-sm-6">
            <form>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                </div>                 
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Service</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Custom Home Contracting</option>
                          <option>HVAC</option>
                          <option>Kitchen Remodel</option>
                          <option>Bathroom Remodel</option>
                          <option>Basement</option>
                          <option>Home Additions</option>
                          <option>Custom Home Framing</option>
                          <option>Decks</option>
                          <option>Roofing</option>
                          <option>Windows & Doors</option>
                          <option>Flood repair Plumbing</option>
                          <option>Emergency Services</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
