<div class="hero container-fluid" style="background-image:url('{{ include.data.img }}')">
    <div class="row align-items-center justify-content-sm-center">
        <div class="col-sm-6">
            <h1>{{ include.data.header }}</h1>
            <p>{{ include.data.subheader }}</p>
            <a class="btn btn-primary" href="{{ include.data.btn_link }}" role="button">{{ include.data.btn_text }}</a>
             <div class="col-sm-12 extra_button">
                <a class="btn btn-primary" href="{{ include.data.other_site_btn_link }}" role="button">{{ include.data.other_site_btn_text }}</a>
            </div>
        </div>
    </div>
</div>